@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root{
    --primary-color:black;
    --secondary-color:burlywood;
    --primary--font-family:"Playwrite GB S", cursive;
    --secondary--font-family:"Open Sans", sans-serif;
    --primary--bg-color:rgba(73, 33, 3, 0.617);
}


body{
    background-color:  rgba(73, 33, 3, 0.617);
}


form{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}


.container-login{
    background-color: var(--secondary-color);
    padding: 30px;
    width: fit-content;
    border-radius: 20px;
    border: 2px solid var(--primary-color);
}


.container-login h3{
    text-align: center;
    font-family: var(--primary--font-family);
}


.container-login label{
    font-family: var(--secondary--font-family);
}


.input-login{
    padding: 10px;
    padding-right: 100px;
    border-radius: 20px;
    border: 2px solid black;
}


.button-login{
    padding: 3px;
    width: 50%;
    background-color: beige;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 60px;
    border: 2px solid black;
}


.login-cookie{
    width: 40px;
    position: absolute;
    animation: circle;
    left: 740px;
    top: 245px;
    animation: circle 10s linear infinite;
}


.login-eye{
    width: 20px;
    position: absolute;
    left: 813px;
    top: 410px;
}


.person-login{
    width: 20px;
    position: absolute;
    left: 813px;
    top: 330px;
}


@keyframes circle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}



